---
layout: default
title: My Blog
---
<h1>
Latest blog posts
</h1>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div>
  <a href="{{ post.url | relative_url }}">
    <h3>{{ post.title }}
      {% if post.status == "hold" %}
      <img src="{{ "/assets/img/clock.svg" | relative_url}}" alt="Logo" height="20" width="20"/>
      {% elsif post.status == 'done' %}
      <img src="{{ "/assets/img/checked.svg" | relative_url}}" alt="Logo" height="20" width="20"/>
      {% elsif post.status == 'working' %}
      <img src="{{ "/assets/img/cogwheel.svg" | relative_url}}" alt="Logo" height="20" width="20"/>
      {% endif %}
    </h3>
  </a>
  <p> | Posted {{ post.date | date_to_string }} | <b>Tags</b>:
    {% for tag in post.tags %}
      <i>{{tag}}</i>,
    {% endfor %}
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{site.url}}{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{site.url}}{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>
